


<h1> About </h1>



<p> Hi! Welcome to Imageine! </p></br>
<p>This Web App is build using Ruby on Rails on a cloud IDE.</p>
<p>Imageine uses Amazon S3 for image storage and sqlite for relevent metadata.</p>
<p>It is deployed on Heroku.</p>
<br/>

<p>This is an application designed and developed to show versatility, efficiency,
   scalability and rubust nature of Rails & Amazon AWS.</p><br/>
<br/>


<h3>
<p align="right">Thank You! And have fun!</p>
<p align="right" style="italic">Aathreya Sharma</p>
</h3>